# IMPACT OF COVID-19 PANDEMIC ON AIR QUALITY

## Air quality Data Exploration and Cleanup

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint

# Import API key
from config import api_key

"https://aqicn.org/data-platform/covid19/
With the COVID-19 spreading out all over the world, the World Air Quality Index project team saw a surge in requests for global data covering the whole world map. As a result, the WAQI project is now providing a new dedicated data-set, updated 3 times a day, and covering about 380 major cities in the world, from January 2020 until now.

The data for each major cities is based on the average (median) of several stations. The data set provides min, max, median and standard deviation for each of the air pollutant species (PM2.5,PM10, Ozone ...) as well as meteorological data (Wind, Temperature, ...). All air pollutant species are converted to the US EPA standard (i.e. no raw concentrations). All dates are UTC based. The count column is the number of samples used for calculating the median and standard deviation."

In [2]:
periods = ["2020", "2019Q1", "2019Q2", "2019Q3", "2019Q4"]

df_list = list()

for period in periods:
    path = f"historical_data/waqi-covid19-airqualitydata-{period}.csv"
    df = pd.read_csv(path)
    df_list.append(df)

In [3]:
airdf_2019_2020 = pd.concat(df_list, ignore_index=True)

In [4]:
airdf_2019_2020.head()

,Date,Country,City,Specie,count,min,max,median,variance
0,31/05/2020,IR,Isfahan,temperature,120,17.5,35.0,27.5,331.51
1,13/06/2020,IR,Isfahan,temperature,144,16.0,36.5,27.5,488.74
2,3/07/2020,IR,Isfahan,temperature,67,19.0,33.0,24.0,128.08
3,28/03/2020,IR,Isfahan,temperature,240,3.0,14.0,9.5,136.68
4,23/04/2020,IR,Isfahan,temperature,168,6.0,25.5,16.0,400.79

In [5]:
# Display an overview of the Specie column
airdf_2019_2020["Specie"].unique()

array(['temperature', 'wind-speed', 'wind-gust', 'dew', 'pm25',
       'humidity', 'wind speed', 'pressure', 'wind gust', 'co', 'so2',
       'precipitation', 'no2', 'pm10', 'o3', 'aqi', 'pol', 'uvi', 'wd',
       'neph', 'mepaqi', 'pm1'], dtype=object)

In [6]:
airdf_2019_2020["Specie"].value_counts()

temperature      310236
humidity         310145
pressure         308517
pm25             270688
no2              266793
pm10             264859
wind-speed       263292
o3               250438
so2              226576
dew              226147
co               203776
wind-gust        172805
wind speed        47002
wind gust         29576
precipitation     26825
wd                25720
aqi                8267
uvi                5632
pol                3790
pm1                1380
mepaqi              564
neph                440
Name: Specie, dtype: int64

> We understand that "Air movements influence the fate of air pollutants. So any study of air pollution should include a study of the local weather patterns (meteorology). If the air is calm and pollutants cannot disperse, then the concentration of these pollutants will build up. On the other hand, when strong, turbulent winds blow, pollutants disperse quickly, resulting in lower pollutant concentrations." https://www.qld.gov.au/environment/pollution/monitoring/air/air-monitoring/meteorology-influence/meteorology-factors#:~:text=Meteorological%20factors-,Meteorological%20factors,these%20pollutants%20will%20build%20up.
Hence the Meteorology parameters like temperature, humidity, pressure, wind speed, to name a few, should have some sorts of correlations with the air quality.
(http://www.bom.gov.au/vic/observations/melbourne.shtml)

> However, due to the scope of our project, we'll only focus on air pollutant parameters to assess their changes before COVID-19 and 6 months into the pandemic. We're not trying to explain the causes of air quality change. Hence, we'll remove data related to the following meteorology-related species: **temperature, humidity, pressure, wind-speed, dew, wind-gust, wind speed, wind gust, precipitation, wd (wind direction), uvi**.
https://aqicn.org/publishingdata/

> We'll also remove species with the least number of available data points  including **pol, pm1, mepaqi, neph**.

In [7]:
species_to_remove = ["temperature", "humidity", "pressure", "wind-speed", "dew", "wind-gust",
                     "wind speed", "wind gust", "precipitation", "wd", "uvi", "pol", "pm1", "mepaqi", "neph"]

clean_airdf = airdf_2019_2020[~airdf_2019_2020["Specie"].isin(
    species_to_remove)].reset_index(drop=True).copy()

In [8]:
clean_airdf.head()

         Date Country     City Specie  count   min    max  median  variance
0  24/02/2020      IR  Isfahan   pm25    129  54.0  194.0   126.0  10921.40
1   7/05/2020      IR  Isfahan   pm25    168  17.0  168.0    91.0  14014.00
2  28/05/2020      IR  Isfahan   pm25    127  17.0  115.0    72.0   3558.56
3  20/02/2020      IR  Isfahan   pm25    113  26.0  181.0    76.0  11209.80
4  23/02/2020      IR  Isfahan   pm25    132  22.0  132.0    76.0   3209.67

In [9]:
clean_airdf["Specie"].value_counts()

pm25    270688
no2     266793
pm10    264859
o3      250438
so2     226576
co      203776
aqi       8267
Name: Specie, dtype: int64

More about AQI:
https://www.airnow.gov/aqi/aqi-basics/
https://www.airnow.gov/sites/default/files/2020-05/aqi-technical-assistance-document-sept2018.pdf
"Five major pollutants:
EPA establishes an AQI for five major air pollutants regulated by the Clean Air Act. Each of these pollutants has a national air quality standard set by EPA to protect public health:

* Ground-level ozone **o3** (ppm - parts per million)
* Particulate Matter - including PM2.5 **pm25** and PM10 **pm10** (μg/m3)
* Carbon Monoxide **co** (ppm)
* Sulfur Dioxide **so2** (ppb - parts per billion)
* Nitrogen Dioxide **no2** (ppb)

https://en.wikipedia.org/wiki/Air_pollution

"https://waqi.info/
The Air Quality Index is based on measurement of particulate matter (PM2.5 and PM10), Ozone (O3), Nitrogen Dioxide (NO2), Sulfur Dioxide (SO2) and Carbon Monoxide (CO) emissions. Most of the stations on the map are monitoring both PM2.5 and PM10 data, but there are few exceptions where only PM10 is available.

All measurements are based on hourly readings: For instance, an AQI reported at 8AM means that the measurement was done from 7AM to 8AM.
More details https://aqicn.org/faq/


https://www.weatherbit.io/api/airquality-history#:~:text=Air%20Quality%20API%20(Historical),an%20air%20quality%20index%20score.

aqi: Air Quality Index [US - EPA standard 0 - +500]
o3: Concentration of surface O3 (µg/m³)
so2: Concentration of surface SO2 (µg/m³)
no2: Concentration of surface NO2 (µg/m³)
co: Concentration of carbon monoxide (µg/m³)
pm25: Concentration of particulate matter < 2.5 microns (µg/m³)
pm10: Concentration of particulate matter < 10 microns (µg/m³)

Some good info on air pollution impacts https://ourworldindata.org/air-pollution
https://www.who.int/health-topics/air-pollution#tab=tab_1
https://www.epa.vic.gov.au/for-community/airwatch
https://www.kaggle.com/frtgnn/clean-air-india-s-air-quality/data

In [10]:
clean_airdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491397 entries, 0 to 1491396
Data columns (total 9 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   Date      1491397 non-null  object
 1   Country   1491397 non-null  object
 2   City      1491397 non-null  object
 3   Specie    1491397 non-null  object
 4   count     1491397 non-null  int64
 5   min       1491397 non-null  float64
 6   max       1491397 non-null  float64
 7   median    1491397 non-null  float64
 8   variance  1491397 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 102.4+ MB

We can see that the Date column is of generic object type. Since we want to perform some time related analysis on this data, we need to convert it to a datetime format. Let’s use to_datetime() function to convert the Date column into a datetime object.

In [11]:
clean_airdf["Date"] = pd.to_datetime(clean_airdf["Date"], format="%d/%m/%Y")

In [12]:
clean_airdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491397 entries, 0 to 1491396
Data columns (total 9 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   Date      1491397 non-null  datetime64[ns]
 1   Country   1491397 non-null  object
 2   City      1491397 non-null  object
 3   Specie    1491397 non-null  object
 4   count     1491397 non-null  int64
 5   min       1491397 non-null  float64
 6   max       1491397 non-null  float64
 7   median    1491397 non-null  float64
 8   variance  1491397 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(3)
memory usage: 102.4+ MB

In [13]:
# Find the earliest date the air quality dataset covers:
clean_airdf["Date"].min()

Timestamp('2018-12-31 00:00:00')

In [14]:
# Find the latest date the air quality dataset covers:
clean_airdf["Date"].max()

Timestamp('2020-07-03 00:00:00')

In [15]:
clean_airdf["Country"].unique()

array(['IR', 'TJ', 'BR', 'CN', 'DK', 'ES', 'ML', 'SK', 'XK', 'CL', 'DE',
       'KW', 'MM', 'PH', 'PK', 'PL', 'RU', 'SE', 'SG', 'AE', 'BA', 'CZ',
       'ID', 'IS', 'MO', 'RO', 'AR', 'AU', 'EC', 'GH', 'HK', 'PE', 'UA',
       'EE', 'FR', 'JP', 'MN', 'FI', 'IE', 'IL', 'KZ', 'LA', 'UZ', 'BD',
       'BE', 'GR', 'KR', 'LK', 'MK', 'MX', 'TR', 'AF', 'AT', 'GT', 'BO',
       'CR', 'JO', 'PR', 'SA', 'SV', 'CA', 'IT', 'NO', 'RE', 'TM', 'ZA',
       'BH', 'LT', 'TH', 'BG', 'CH', 'HU', 'MY', 'NL', 'NZ', 'UG', 'VN',
       'ET', 'GE', 'GN', 'IQ', 'RS', 'TW', 'CI', 'CO', 'CY', 'DZ', 'HR',
       'IN', 'KG', 'CW', 'GB', 'NP', 'PT', 'US'], dtype=object)

In [16]:
# Display an overview of the Country column
country_airdata_df = pd.DataFrame(clean_airdf["Country"].unique(), columns=["country_code"])
country_airdata_df

   country_code
0            IR
1            TJ
2            BR
3            CN
4            DK
..          ...
90           CW
91           GB
92           NP
93           PT
94           US

[95 rows x 1 columns]

There are 95 countries in the dataframe, including Australia (AU)....

In [17]:
# Display an overview of the City column
clean_airdf["City"].unique()

array(['Isfahan', 'Arāk', 'Karaj', 'Qom', 'Orūmīyeh', 'Yazd', 'Īlām',
       'Kerman', 'Khorramshahr', 'Tabriz', 'Bandar Abbas', 'Sanandaj',
       'Kermanshah', 'Khorramabad', 'Shiraz', 'Zanjān', 'Mashhad',
       'Tehran', 'Dushanbe', 'São José dos Campos', 'Vitória',
       'São Paulo', 'Beijing', 'Jieyang', 'Kunming', 'Hangzhou',
       'Chongqing', 'Qingdao', 'Haikou', 'Ürümqi', 'Qiqihar', 'Guiyang',
       'Shenzhen', 'Yunfu', 'Xuchang', 'Yinchuan', 'Shenyang', 'Lhasa',
       'Shanghai', 'Changchun', 'Foshan', 'Nanning', 'Fushun', 'Hefei',
       'Chengdu', 'Hohhot', 'Qinhuangdao', 'Shijiazhuang', 'Shantou',
       'Zhengzhou', 'Nanjing', 'Xining', 'Xi’an', 'Zhuzhou', 'Wuhan',
       'Tianjin', 'Changzhou', 'Nanchang', 'Shiyan', 'Xinxiang', 'Suzhou',
       'Harbin', 'Lanzhou', 'Jinan', 'Changsha', 'Hegang', 'Anyang',
       'Wuxi', 'Taiyuan', 'Guangzhou', 'Fuzhou', 'Ningbo', 'Xiamen',
       'Dongguan', 'Copenhagen', 'Las Palmas de Gran Canaria',
       'Salamanca', 'Barcelona', 'Donostia / San Sebastián',
       'Gasteiz / Vitoria', 'Córdoba', 'Valladolid', 'Santander', 'Palma',
       'Málaga', 'Zaragoza', 'Sevilla', 'Bilbao', 'Pamplona',
       'Castelló de la Plana', 'Huelva', 'Granada', 'Madrid', 'Valencia',
       'Burgos', 'Murcia', 'Santa Cruz de Tenerife', 'Oviedo', 'Bamako',
       'Košice', 'Bratislava', 'Pristina', 'Rancagua', 'Osorno',
       'Los Ángeles', 'Chillán', 'Calama', 'Puerto Montt', 'Valparaíso',
       'Quilpué', 'Santiago', 'Talca', 'Concepción', 'Temuco',
       'Stuttgart', 'Münster', 'Köln', 'Kassel', 'Karlsruhe', 'Mainz',
       'Dresden', 'Munich', 'Berlin', 'Düsseldorf', 'Freiburg',
       'Wiesbaden', 'Hannover', 'Augsburg', 'Darmstadt', 'Potsdam',
       'Hamburg', 'Ḩawallī', 'Yangon', 'Baguio', 'Manila', 'Butuan',
       'Karachi', 'Peshawar', 'Islamabad', 'Lahore', 'Łódź', 'Tarnów',
       'Gdańsk', 'Katowice', 'Poznań', 'Rybnik', 'Szczecin', 'Kielce',
       'Warsaw', 'Bydgoszcz', 'Zabrze', 'Wrocław', 'Płock', 'Kraków',
       'Chelyabinsk', 'Nizhniy Novgorod', 'Saint Petersburg',
       'Krasnoyarsk', 'Tomsk', 'Novosibirsk', 'Moscow', 'Stockholm',
       'Göteborg', 'Malmö', 'Uppsala', 'Singapore', 'Abu Dhabi', 'Dubai',
       'Sarajevo', 'Zenica', 'Tuzla', 'Prague', 'Ostrava', 'Brno',
       'Pilsen', 'Olomouc', 'Jakarta', 'Reykjavík', 'Macau', 'Ploieşti',
       'Craiova', 'Bacău', 'Râmnicu Vâlcea', 'Sibiu', 'Timişoara',
       'Piteşti', 'Arad', 'Cluj-Napoca', 'Bucharest', 'Baia Mare',
       'Oradea', 'Galaţi', 'Braşov', 'Iaşi', 'Constanţa', 'Brăila',
       'Buenos Aires', 'Sydney', 'Newcastle', 'Launceston', 'Hobart',
       'Darwin', 'Melbourne', 'Canberra', 'Adelaide', 'Brisbane', 'Perth',
       'Wollongong', 'Quito', 'Accra', 'Hong Kong', 'Lima', 'Odessa',
       'Ternopil', 'Kyiv', 'Kamianske', 'Dnipro', 'Zaporizhia', 'Lviv',
       'Kryvyi Rih', 'Ivano-Frankivsk', 'Tallinn', 'Tours', 'Marseille',
       'Nîmes', 'Besançon', 'Nantes', 'Rennes', 'Toulouse', 'Nancy',
       'Clermont-Ferrand', 'Paris', 'Lille', 'Orléans', 'Montpellier',
       'Lyon', 'Amiens', 'Dijon', 'Rouen', 'Grenoble', 'Toulon',
       'Limoges', 'Caen', 'Perpignan', 'Bordeaux', 'Nice',
       'Saint-Étienne', 'Metz', 'Strasbourg', 'Fukuoka', 'Kanazawa',
       'Kumamoto', 'Akita', 'Kochi', 'Gifu-shi', 'Kyoto', 'Hiroshima',
       'Shizuoka', 'Chiba', 'Sapporo', 'Yokohama', 'Tokyo', 'Saitama',
       'Naha', 'Nagasaki', 'Toyama', 'Niigata', 'Nara-shi', 'Okayama',
       'Sendai', 'Osaka', 'Miyazaki', 'Matsuyama', 'Wakayama',
       'Takamatsu', 'Nagoya', 'Ōita', 'Kobe', 'Nagano', 'Utsunomiya',
       'Kagoshima', 'Ulan Bator', 'Vantaa', 'Turku', 'Oulu', 'Helsinki',
       'Tampere', 'Dublin', 'Tel Aviv', 'Haifa', 'Jerusalem', 'Ashdod',
       'Netanya', 'Ashkelon', 'Petaẖ Tiqwa', 'Nur-Sultan', 'Almaty',
       'Vientiane', 'Tashkent', 'Dhaka', 'Liège', 'Brussels', 'Charleroi',
       'Gent', 'Namur', 'Antwerpen', 'Thessaloníki', 'Athens', 'Jeonju',
       'Seoul', 'Busan', 'Sejong', 'Ulsan', 'Yeosu', 'Gwangju',
       'Seongnam-si', 'Daejeon', 'Pohang', 'Changwon', 'Suwon',
       'Cheongju-si', 'Chuncheon', 'Daegu', 'Jeju City', 'Incheon',
       'Suncheon', 'Mokpo', 'Andong', 'Colombo', 'Skopje',
       'Ecatepec de Morelos', 'Guadalajara', 'Cuernavaca', 'Puebla',
       'Mexico City', 'Morelia', 'Mérida', 'San Luis Potosí', 'Monterrey',
       'Pachuca de Soto', 'Tepic', 'Toluca', 'Aguascalientes', 'Oaxaca',
       'Eskişehir', 'İzmit', 'Bursa', 'Ankara', 'Adana', 'Kayseri',
       'Kütahya', 'Balıkesir', 'Adapazarı', 'Trabzon', 'Antakya',
       'Samsun', 'İzmir', 'Konya', 'Sivas', 'Istanbul', 'Denizli',
       'Erzurum', 'Kabul', 'Salzburg', 'Linz', 'Innsbruck', 'Vienna',
       'Graz', 'Guatemala City', 'Cochabamba', 'San José', 'Amman',
       'Irbid', 'Zarqa', 'San Juan', 'Riyadh', 'Jeddah', 'Abha', 'Dammam',
       "Ha'il", 'Buraydah', 'Mecca', 'San Salvador', 'Hamilton',
       'Calgary', 'Winnipeg', 'Halifax', 'Kitchener', 'Edmonton',
       'Surrey', 'Mississauga', 'Québec', 'Vancouver', 'Victoria',
       'Montréal', 'Toronto', 'Ottawa', 'London', 'Bologna', 'Livorno',
       'Trieste', 'Modena', 'Prato', 'Florence', 'Naples', 'Rome',
       'Turin', 'Milan', 'Brescia', 'Parma', 'Trondheim', 'Oslo',
       'Stavanger', 'Bergen', 'Saint-Denis', 'Ashgabat', 'Middelburg',
       'Pretoria', 'East London', 'Johannesburg', 'Bloemfontein',
       'Cape Town', 'Vereeniging', 'Durban', 'Klerksdorp', 'Richards Bay',
       'Port Elizabeth', 'Worcester', 'Manama', 'Kaunas', 'Chon Buri',
       'Chiang Mai', 'Nakhon Pathom', 'Rayong', 'Lampang', 'Bangkok',
       'Samut Prakan', 'Sofia', 'Burgas', 'Plovdiv', 'Zürich', 'Debrecen',
       'Győr', 'Szeged', 'Pécs', 'Kecskemét', 'Miskolc', 'Budapest',
       'Kuantan', 'Miri', 'George Town', 'Klang', 'Malacca', 'Taiping',
       'Alor Setar', 'Kota Bharu', 'Kuching', 'Seremban', 'Ipoh',
       'Johor Bahru', 'Kuala Lumpur', 'Utrecht', 'Nijmegen', 'Haarlem',
       'Eindhoven', 'Rotterdam', 'Amsterdam', 'Dordrecht', 'Breda',
       'Groningen', 'Maastricht', 'The Hague', 'Auckland', 'Christchurch',
       'Wellington', 'Dunedin', 'Kampala', 'Ho Chi Minh City', 'Huế',
       'Hanoi', 'Haiphong', 'Hạ Long', 'Addis Ababa', 'Tbilisi',
       'Conakry', 'Baghdad', 'Novi Sad', 'Niš', 'Belgrade',
       'Taitung City', 'Taichung', 'Taoyuan City', 'Taipei', 'Hsinchu',
       'Keelung', 'Tainan', 'Douliu', 'Kaohsiung', 'Abidjan', 'Bogotá',
       'Medellín', 'Nicosia', 'Limassol', 'Algiers', 'Zagreb', 'Rijeka',
       'Split', 'Thrissur', 'New Delhi', 'Hyderabad', 'Delhi',
       'Chandigarh', 'Bhopal', 'Nagpur', 'Lucknow', 'Ghāziābād', 'Hāpur',
       'Gandhinagar', 'Chennai', 'Nashik', 'Mysore', 'Visakhapatnam',
       'Mumbai', 'Jaipur', 'Patna', 'Muzaffarnagar', 'Thiruvananthapuram',
       'Bengaluru', 'Shillong', 'Kolkata', 'Bishkek', 'Willemstad',
       'Edinburgh', 'Norwich', 'Liverpool', 'Belfast', 'Coventry',
       'Leeds', 'Cardiff', 'Bristol', 'Birmingham', 'Sheffield',
       'Newport', 'Leicester', 'Manchester', 'Reading', 'Plymouth',
       'Glasgow', 'Preston', 'Swansea', 'Southend-on-Sea', 'Kathmandu',
       'Pokhara', 'Biratnagar', 'Lisbon', 'Funchal', 'Oklahoma City',
       'Raleigh', 'Memphis', 'Jackson', 'Boston', 'Richmond', 'Portland',
       'Boise', 'Austin', 'Honolulu', 'Fresno', 'Milwaukee', 'Columbia',
       'Hartford', 'Washington D.C.', 'Chicago', 'Houston',
       'Indianapolis', 'Atlanta', 'Charlotte', 'Sacramento', 'Oakland',
       'Providence', 'Staten Island', 'Brooklyn', 'Springfield',
       'The Bronx', 'San Jose', 'Los Angeles', 'Detroit', 'Little Rock',
       'Baltimore', 'Phoenix', 'Omaha', 'El Paso', 'Dallas', 'Seattle',
       'Manhattan', 'Miami', 'Jacksonville', 'Las Vegas', 'San Antonio',
       'Philadelphia', 'San Diego', 'Columbus', 'Saint Paul', 'Denver',
       'Salt Lake City', 'Albuquerque', 'San Francisco', 'Salem',
       'Madison', 'Nashville', 'Tucson', 'Queens', 'Tallahassee',
       'Fort Worth', 'Chihuahua', 'Zamboanga'], dtype=object)

In [18]:
clean_airdf["City"].value_counts()

London          5075
Shijiazhuang    3612
Qinhuangdao     3502
Anyang          3482
Beijing         3443
                ...
Almaty           132
Abidjan          115
Conakry          115
Accra             97
Zamboanga         60
Name: City, Length: 615, dtype: int64

There are 615 cities in our dataframe. Let's see what cities in Australia covered in the dataset.

In [19]:
clean_airdf.loc[clean_airdf["Country"]=="AU", "City"].value_counts()

Sydney        3364
Brisbane      3348
Melbourne     3284
Wollongong    3253
Darwin        3208
Adelaide      3177
Perth         3082
Newcastle     2871
Hobart        1126
Launceston    1126
Canberra      1093
Name: City, dtype: int64

## COVID-19 DATA EXPLORATION AND CLEAN UP

Covid-19 is sourced from here https://covid19api.com/

In [20]:
country_url = "https://api.covid19api.com/countries"
country_covid_data = requests.get(country_url).json()
pprint(country_covid_data)

[{'Country': 'Cayman Islands', 'ISO2': 'KY', 'Slug': 'cayman-islands'},
 {'Country': 'Aruba', 'ISO2': 'AW', 'Slug': 'aruba'},
 {'Country': 'Falkland Islands (Malvinas)',
  'ISO2': 'FK',
  'Slug': 'falkland-islands-malvinas'},
 {'Country': 'Peru', 'ISO2': 'PE', 'Slug': 'peru'},
 {'Country': 'Puerto Rico', 'ISO2': 'PR', 'Slug': 'puerto-rico'},
 {'Country': 'Anguilla', 'ISO2': 'AI', 'Slug': 'anguilla'},
 {'Country': 'Benin', 'ISO2': 'BJ', 'Slug': 'benin'},
 {'Country': 'Burundi', 'ISO2': 'BI', 'Slug': 'burundi'},
 {'Country': 'China', 'ISO2': 'CN', 'Slug': 'china'},
 {'Country': 'Suriname', 'ISO2': 'SR', 'Slug': 'suriname'},
 {'Country': 'Australia', 'ISO2': 'AU', 'Slug': 'australia'},
 {'Country': 'Bahamas', 'ISO2': 'BS', 'Slug': 'bahamas'},
 {'Country': 'British Indian Ocean Territory',
  'ISO2': 'IO',
  'Slug': 'british-indian-ocean-territory'},
 {'Country': 'Croatia', 'ISO2': 'HR', 'Slug': 'croatia'},
 {'Country': 'Isle of Man', 'ISO2': 'IM', 'Slug': 'isle-of-man'},
 {'Country': 'Liberia', 'ISO2': 'LR', 'Slug': 'liberia'},
 {'Country': 'Mauritius', 'ISO2': 'MU', 'Slug': 'mauritius'},
 {'Country': 'Tokelau', 'ISO2': 'TK', 'Slug': 'tokelau'},
 {'Country': 'Japan', 'ISO2': 'JP', 'Slug': 'japan'},
 {'Country': 'Martinique', 'ISO2': 'MQ', 'Slug': 'martinique'},
 {'Country': 'Bahrain', 'ISO2': 'BH', 'Slug': 'bahrain'},
 {'Country': 'Angola', 'ISO2': 'AO', 'Slug': 'angola'},
 {'Country': 'Gibraltar', 'ISO2': 'GI', 'Slug': 'gibraltar'},
 {'Country': 'Saint Kitts and Nevis',
  'ISO2': 'KN',
  'Slug': 'saint-kitts-and-nevis'},
 {'Country': 'Samoa', 'ISO2': 'WS', 'Slug': 'samoa'},
 {'Country': 'Kiribati', 'ISO2': 'KI', 'Slug': 'kiribati'},
 {'Country': 'Kenya', 'ISO2': 'KE', 'Slug': 'kenya'},
 {'Country': 'Singapore', 'ISO2': 'SG', 'Slug': 'singapore'},
 {'Country': 'South Africa', 'ISO2': 'ZA', 'Slug': 'south-africa'},
 {'Country': 'Guernsey', 'ISO2': 'GG', 'Slug': 'guernsey'},
 {'Country': 'Faroe Islands', 'ISO2': 'FO', 'Slug': 'faroe-islands'},
 {'Country': 'Lithuania', 'ISO2': 'LT', 'Slug': 'lithuania'},
 {'Country': 'Pakistan', 'ISO2': 'PK', 'Slug': 'pakistan'},
 {'Country': 'San Marino', 'ISO2': 'SM', 'Slug': 'san-marino'},
 {'Country': 'Ethiopia', 'ISO2': 'ET', 'Slug': 'ethiopia'},
 {'Country': 'Germany', 'ISO2': 'DE', 'Slug': 'germany'},
 {'Country': 'Svalbard and Jan Mayen Islands',
  'ISO2': 'SJ',
  'Slug': 'svalbard-and-jan-mayen-islands'},
 {'Country': 'Tunisia', 'ISO2': 'TN', 'Slug': 'tunisia'},
 {'Country': 'Wallis and Futuna Islands',
  'ISO2': 'WF',
  'Slug': 'wallis-and-futuna-islands'},
 {'Country': 'Guam', 'ISO2': 'GU', 'Slug': 'guam'},
 {'Country': 'Haiti', 'ISO2': 'HT', 'Slug': 'haiti'},
 {'Country': 'Macao, SAR China', 'ISO2': 'MO', 'Slug': 'macao-sar-china'},
 {'Country': 'Sudan', 'ISO2': 'SD', 'Slug': 'sudan'},
 {'Country': 'Cocos (Keeling) Islands',
  'ISO2': 'CC',
  'Slug': 'cocos-keeling-islands'},
 {'Country': 'British Virgin Islands',
  'ISO2': 'VG',
  'Slug': 'british-virgin-islands'},
 {'Country': 'Dominica', 'ISO2': 'DM', 'Slug': 'dominica'},
 {'Country': 'Luxembourg', 'ISO2': 'LU', 'Slug': 'luxembourg'},
 {'Country': 'Republic of Kosovo', 'ISO2': 'XK', 'Slug': 'kosovo'},
 {'Country': 'Switzerland', 'ISO2': 'CH', 'Slug': 'switzerland'},
 {'Country': 'Viet Nam', 'ISO2': 'VN', 'Slug': 'vietnam'},
 {'Country': 'Virgin Islands, US', 'ISO2': 'VI', 'Slug': 'virgin-islands'},
 {'Country': 'Norfolk Island', 'ISO2': 'NF', 'Slug': 'norfolk-island'},
 {'Country': 'Afghanistan', 'ISO2': 'AF', 'Slug': 'afghanistan'},
 {'Country': 'Bouvet Island', 'ISO2': 'BV', 'Slug': 'bouvet-island'},
 {'Country': 'Guyana', 'ISO2': 'GY', 'Slug': 'guyana'},
 {'Country': 'Latvia', 'ISO2': 'LV', 'Slug': 'latvia'},
 {'Country': 'Ecuador', 'ISO2': 'EC', 'Slug': 'ecuador'},
 {'Country': 'Equatorial Guinea', 'ISO2': 'GQ', 'Slug': 'equatorial-guinea'},
 {'Country': 'Greece', 'ISO2': 'GR', 'Slug': 'greece'},
 {'Country': 'Guinea-Bissau', 'ISO2': 'GW', 'Slug': 'guinea-bissau'},
 {'Country': 'Belgium', 'ISO2': 'BE', 'Slug': 'belgium'},
 {'Country': 'Comoros', 'ISO2': 'KM', 'Slug': 'comoros'},
 {'Country': 'Egypt', 'ISO2': 'EG', 'Slug': 'egypt'},
 {'Country': 'Korea (South)', 'ISO2': 'KR', 'Slug': 'korea-south'},
 {'Country': 'United States of America', 'ISO2': 'US', 'Slug': 'united-states'},
 {'Country': 'Bosnia and Herzegovina',
  'ISO2': 'BA',
  'Slug': 'bosnia-and-herzegovina'},
 {'Country': 'El Salvador', 'ISO2': 'SV', 'Slug': 'el-salvador'},
 {'Country': 'Guadeloupe', 'ISO2': 'GP', 'Slug': 'guadeloupe'},
 {'Country': 'Ireland', 'ISO2': 'IE', 'Slug': 'ireland'},
 {'Country': 'Swaziland', 'ISO2': 'SZ', 'Slug': 'swaziland'},
 {'Country': 'Uzbekistan', 'ISO2': 'UZ', 'Slug': 'uzbekistan'},
 {'Country': 'Liechtenstein', 'ISO2': 'LI', 'Slug': 'liechtenstein'},
 {'Country': 'Oman', 'ISO2': 'OM', 'Slug': 'oman'},
 {'Country': 'Syrian Arab Republic (Syria)', 'ISO2': 'SY', 'Slug': 'syria'},
 {'Country': 'Jamaica', 'ISO2': 'JM', 'Slug': 'jamaica'},
 {'Country': 'Greenland', 'ISO2': 'GL', 'Slug': 'greenland'},
 {'Country': 'Northern Mariana Islands',
  'ISO2': 'MP',
  'Slug': 'northern-mariana-islands'},
 {'Country': 'Georgia', 'ISO2': 'GE', 'Slug': 'georgia'},
 {'Country': "Côte d'Ivoire", 'ISO2': 'CI', 'Slug': 'cote-divoire'},
 {'Country': 'Kuwait', 'ISO2': 'KW', 'Slug': 'kuwait'},
 {'Country': 'Portugal', 'ISO2': 'PT', 'Slug': 'portugal'},
 {'Country': 'Saint Lucia', 'ISO2': 'LC', 'Slug': 'saint-lucia'},
 {'Country': 'Tonga', 'ISO2': 'TO', 'Slug': 'tonga'},
 {'Country': 'Sweden', 'ISO2': 'SE', 'Slug': 'sweden'},
 {'Country': 'South Georgia and the South Sandwich Islands',
  'ISO2': 'GS',
  'Slug': 'south-georgia-and-the-south-sandwich-islands'},
 {'Country': 'Cyprus', 'ISO2': 'CY', 'Slug': 'cyprus'},
 {'Country': 'Estonia', 'ISO2': 'EE', 'Slug': 'estonia'},
 {'Country': 'Micronesia, Federated States of',
  'ISO2': 'FM',
  'Slug': 'micronesia'},
 {'Country': 'Morocco', 'ISO2': 'MA', 'Slug': 'morocco'},
 {'Country': 'New Caledonia', 'ISO2': 'NC', 'Slug': 'new-caledonia'},
 {'Country': 'Zimbabwe', 'ISO2': 'ZW', 'Slug': 'zimbabwe'},
 {'Country': 'Barbados', 'ISO2': 'BB', 'Slug': 'barbados'},
 {'Country': 'Solomon Islands', 'ISO2': 'SB', 'Slug': 'solomon-islands'},
 {'Country': 'Antigua and Barbuda',
  'ISO2': 'AG',
  'Slug': 'antigua-and-barbuda'},
 {'Country': 'Turkmenistan', 'ISO2': 'TM', 'Slug': 'turkmenistan'},
 {'Country': 'Hong Kong, SAR China',
  'ISO2': 'HK',
  'Slug': 'hong-kong-sar-china'},
 {'Country': 'Malawi', 'ISO2': 'MW', 'Slug': 'malawi'},
 {'Country': 'Monaco', 'ISO2': 'MC', 'Slug': 'monaco'},
 {'Country': 'Spain', 'ISO2': 'ES', 'Slug': 'spain'},
 {'Country': 'Turkey', 'ISO2': 'TR', 'Slug': 'turkey'},
 {'Country': 'Colombia', 'ISO2': 'CO', 'Slug': 'colombia'},
 {'Country': 'Djibouti', 'ISO2': 'DJ', 'Slug': 'djibouti'},
 {'Country': 'Sao Tome and Principe',
  'ISO2': 'ST',
  'Slug': 'sao-tome-and-principe'},
 {'Country': 'Bermuda', 'ISO2': 'BM', 'Slug': 'bermuda'},
 {'Country': 'Bhutan', 'ISO2': 'BT', 'Slug': 'bhutan'},
 {'Country': 'Chile', 'ISO2': 'CL', 'Slug': 'chile'},
 {'Country': 'Philippines', 'ISO2': 'PH', 'Slug': 'philippines'},
 {'Country': 'Russian Federation', 'ISO2': 'RU', 'Slug': 'russia'},
 {'Country': 'Belize', 'ISO2': 'BZ', 'Slug': 'belize'},
 {'Country': 'Indonesia', 'ISO2': 'ID', 'Slug': 'indonesia'},
 {'Country': 'Sri Lanka', 'ISO2': 'LK', 'Slug': 'sri-lanka'},
 {'Country': 'Tanzania, United Republic of', 'ISO2': 'TZ', 'Slug': 'tanzania'},
 {'Country': 'Timor-Leste', 'ISO2': 'TL', 'Slug': 'timor-leste'},
 {'Country': 'Iceland', 'ISO2': 'IS', 'Slug': 'iceland'},
 {'Country': 'Costa Rica', 'ISO2': 'CR', 'Slug': 'costa-rica'},
 {'Country': 'Palau', 'ISO2': 'PW', 'Slug': 'palau'},
 {'Country': 'Romania', 'ISO2': 'RO', 'Slug': 'romania'},
 {'Country': 'Saint-Barthélemy', 'ISO2': 'BL', 'Slug': 'saint-barthélemy'},
 {'Country': 'Somalia', 'ISO2': 'SO', 'Slug': 'somalia'},
 {'Country': 'Argentina', 'ISO2': 'AR', 'Slug': 'argentina'},
 {'Country': 'Christmas Island', 'ISO2': 'CX', 'Slug': 'christmas-island'},
 {'Country': 'Congo (Kinshasa)', 'ISO2': 'CD', 'Slug': 'congo-kinshasa'},
 {'Country': 'Macedonia, Republic of', 'ISO2': 'MK', 'Slug': 'macedonia'},
 {'Country': 'Maldives', 'ISO2': 'MV', 'Slug': 'maldives'},
 {'Country': 'Saint Vincent and Grenadines',
  'ISO2': 'VC',
  'Slug': 'saint-vincent-and-the-grenadines'},
 {'Country': 'Bulgaria', 'ISO2': 'BG', 'Slug': 'bulgaria'},
 {'Country': 'Czech Republic', 'ISO2': 'CZ', 'Slug': 'czech-republic'},
 {'Country': 'French Southern Territories',
  'ISO2': 'TF',
  'Slug': 'french-southern-territories'},
 {'Country': 'Kyrgyzstan', 'ISO2': 'KG', 'Slug': 'kyrgyzstan'},
 {'Country': 'Paraguay', 'ISO2': 'PY', 'Slug': 'paraguay'},
 {'Country': 'Venezuela (Bolivarian Republic)',
  'ISO2': 'VE',
  'Slug': 'venezuela'},
 {'Country': 'Canada', 'ISO2': 'CA', 'Slug': 'canada'},
 {'Country': 'Chad', 'ISO2': 'TD', 'Slug': 'chad'},
 {'Country': 'France', 'ISO2': 'FR', 'Slug': 'france'},
 {'Country': 'Niue', 'ISO2': 'NU', 'Slug': 'niue'},
 {'Country': 'Palestinian Territory', 'ISO2': 'PS', 'Slug': 'palestine'},
 {'Country': 'Tajikistan', 'ISO2': 'TJ', 'Slug': 'tajikistan'},
 {'Country': 'Senegal', 'ISO2': 'SN', 'Slug': 'senegal'},
 {'Country': 'Thailand', 'ISO2': 'TH', 'Slug': 'thailand'},
 {'Country': 'Azerbaijan', 'ISO2': 'AZ', 'Slug': 'azerbaijan'},
 {'Country': 'Mayotte', 'ISO2': 'YT', 'Slug': 'mayotte'},
 {'Country': 'Iraq', 'ISO2': 'IQ', 'Slug': 'iraq'},
 {'Country': 'India', 'ISO2': 'IN', 'Slug': 'india'},
 {'Country': 'Nicaragua', 'ISO2': 'NI', 'Slug': 'nicaragua'},
 {'Country': 'Central African Republic',
  'ISO2': 'CF',
  'Slug': 'central-african-republic'},
 {'Country': 'Iran, Islamic Republic of', 'ISO2': 'IR', 'Slug': 'iran'},
 {'Country': 'Rwanda', 'ISO2': 'RW', 'Slug': 'rwanda'},
 {'Country': 'Cuba', 'ISO2': 'CU', 'Slug': 'cuba'},
 {'Country': 'Fiji', 'ISO2': 'FJ', 'Slug': 'fiji'},
 {'Country': 'Nauru', 'ISO2': 'NR', 'Slug': 'nauru'},
 {'Country': 'Togo', 'ISO2': 'TG', 'Slug': 'togo'},
 {'Country': 'Marshall Islands', 'ISO2': 'MH', 'Slug': 'marshall-islands'},
 {'Country': 'Nigeria', 'ISO2': 'NG', 'Slug': 'nigeria'},
 {'Country': 'Uganda', 'ISO2': 'UG', 'Slug': 'uganda'},
 {'Country': 'Eritrea', 'ISO2': 'ER', 'Slug': 'eritrea'},
 {'Country': 'American Samoa', 'ISO2': 'AS', 'Slug': 'american-samoa'},
 {'Country': 'French Polynesia', 'ISO2': 'PF', 'Slug': 'french-polynesia'},
 {'Country': 'Gambia', 'ISO2': 'GM', 'Slug': 'gambia'},
 {'Country': 'Seychelles', 'ISO2': 'SC', 'Slug': 'seychelles'},
 {'Country': 'Ukraine', 'ISO2': 'UA', 'Slug': 'ukraine'},
 {'Country': 'Zambia', 'ISO2': 'ZM', 'Slug': 'zambia'},
 {'Country': 'Burkina Faso', 'ISO2': 'BF', 'Slug': 'burkina-faso'},
 {'Country': 'Israel', 'ISO2': 'IL', 'Slug': 'israel'},
 {'Country': 'Madagascar', 'ISO2': 'MG', 'Slug': 'madagascar'},
 {'Country': 'New Zealand', 'ISO2': 'NZ', 'Slug': 'new-zealand'},
 {'Country': 'United Kingdom', 'ISO2': 'GB', 'Slug': 'united-kingdom'},
 {'Country': 'Botswana', 'ISO2': 'BW', 'Slug': 'botswana'},
 {'Country': 'Saudi Arabia', 'ISO2': 'SA', 'Slug': 'saudi-arabia'},
 {'Country': 'United Arab Emirates',
  'ISO2': 'AE',
  'Slug': 'united-arab-emirates'},
 {'Country': 'Belarus', 'ISO2': 'BY', 'Slug': 'belarus'},
 {'Country': 'Cameroon', 'ISO2': 'CM', 'Slug': 'cameroon'},
 {'Country': 'Korea (North)', 'ISO2': 'KP', 'Slug': 'korea-north'},
 {'Country': 'Netherlands', 'ISO2': 'NL', 'Slug': 'netherlands'},
 {'Country': 'Saint-Martin (French part)',
  'ISO2': 'MF',
  'Slug': 'saint-martin-french-part'},
 {'Country': 'Trinidad and Tobago',
  'ISO2': 'TT',
  'Slug': 'trinidad-and-tobago'},
 {'Country': 'ALA Aland Islands', 'ISO2': 'AX', 'Slug': 'ala-aland-islands'},
 {'Country': 'Bolivia', 'ISO2': 'BO', 'Slug': 'bolivia'},
 {'Country': 'French Guiana', 'ISO2': 'GF', 'Slug': 'french-guiana'},
 {'Country': 'Guinea', 'ISO2': 'GN', 'Slug': 'guinea'},
 {'Country': 'Malta', 'ISO2': 'MT', 'Slug': 'malta'},
 {'Country': 'Sierra Leone', 'ISO2': 'SL', 'Slug': 'sierra-leone'},
 {'Country': 'Western Sahara', 'ISO2': 'EH', 'Slug': 'western-sahara'},
 {'Country': 'Austria', 'ISO2': 'AT', 'Slug': 'austria'},
 {'Country': 'Hungary', 'ISO2': 'HU', 'Slug': 'hungary'},
 {'Country': 'Vanuatu', 'ISO2': 'VU', 'Slug': 'vanuatu'},
 {'Country': 'Cambodia', 'ISO2': 'KH', 'Slug': 'cambodia'},
 {'Country': 'Malaysia', 'ISO2': 'MY', 'Slug': 'malaysia'},
 {'Country': 'Moldova', 'ISO2': 'MD', 'Slug': 'moldova'},
 {'Country': 'South Sudan', 'ISO2': 'SS', 'Slug': 'south-sudan'},
 {'Country': 'Yemen', 'ISO2': 'YE', 'Slug': 'yemen'},
 {'Country': 'Armenia', 'ISO2': 'AM', 'Slug': 'armenia'},
 {'Country': 'Ghana', 'ISO2': 'GH', 'Slug': 'ghana'},
 {'Country': 'Jersey', 'ISO2': 'JE', 'Slug': 'jersey'},
 {'Country': 'Jordan', 'ISO2': 'JO', 'Slug': 'jordan'},
 {'Country': 'Lebanon', 'ISO2': 'LB', 'Slug': 'lebanon'},
 {'Country': 'Mexico', 'ISO2': 'MX', 'Slug': 'mexico'},
 {'Country': 'Mozambique', 'ISO2': 'MZ', 'Slug': 'mozambique'},
 {'Country': 'Serbia', 'ISO2': 'RS', 'Slug': 'serbia'},
 {'Country': 'Turks and Caicos Islands',
  'ISO2': 'TC',
  'Slug': 'turks-and-caicos-islands'},
 {'Country': 'Namibia', 'ISO2': 'NA', 'Slug': 'namibia'},
 {'Country': 'Mauritania', 'ISO2': 'MR', 'Slug': 'mauritania'},
 {'Country': 'Montserrat', 'ISO2': 'MS', 'Slug': 'montserrat'},
 {'Country': 'Gabon', 'ISO2': 'GA', 'Slug': 'gabon'},
 {'Country': 'Guatemala', 'ISO2': 'GT', 'Slug': 'guatemala'},
 {'Country': 'Kazakhstan', 'ISO2': 'KZ', 'Slug': 'kazakhstan'},
 {'Country': 'US Minor Outlying Islands',
  'ISO2': 'UM',
  'Slug': 'us-minor-outlying-islands'},
 {'Country': 'Antarctica', 'ISO2': 'AQ', 'Slug': 'antarctica'},
 {'Country': 'Italy', 'ISO2': 'IT', 'Slug': 'italy'},
 {'Country': 'Lesotho', 'ISO2': 'LS', 'Slug': 'lesotho'},
 {'Country': 'Libya', 'ISO2': 'LY', 'Slug': 'libya'},
 {'Country': 'Mongolia', 'ISO2': 'MN', 'Slug': 'mongolia'},
 {'Country': 'Norway', 'ISO2': 'NO', 'Slug': 'norway'},
 {'Country': 'Panama', 'ISO2': 'PA', 'Slug': 'panama'},
 {'Country': 'Andorra', 'ISO2': 'AD', 'Slug': 'andorra'},
 {'Country': 'Denmark', 'ISO2': 'DK', 'Slug': 'denmark'},
 {'Country': 'Poland', 'ISO2': 'PL', 'Slug': 'poland'},
 {'Country': 'Honduras', 'ISO2': 'HN', 'Slug': 'honduras'},
 {'Country': 'Montenegro', 'ISO2': 'ME', 'Slug': 'montenegro'},
 {'Country': 'Heard and Mcdonald Islands',
  'ISO2': 'HM',
  'Slug': 'heard-and-mcdonald-islands'},
 {'Country': 'Lao PDR', 'ISO2': 'LA', 'Slug': 'lao-pdr'},
 {'Country': 'Algeria', 'ISO2': 'DZ', 'Slug': 'algeria'},
 {'Country': 'Holy See (Vatican City State)',
  'ISO2': 'VA',
  'Slug': 'holy-see-vatican-city-state'},
 {'Country': 'Niger', 'ISO2': 'NE', 'Slug': 'niger'},
 {'Country': 'Papua New Guinea', 'ISO2': 'PG', 'Slug': 'papua-new-guinea'},
 {'Country': 'Slovakia', 'ISO2': 'SK', 'Slug': 'slovakia'},
 {'Country': 'Tuvalu', 'ISO2': 'TV', 'Slug': 'tuvalu'},
 {'Country': 'Albania', 'ISO2': 'AL', 'Slug': 'albania'},
 {'Country': 'Brazil', 'ISO2': 'BR', 'Slug': 'brazil'},
 {'Country': 'Mali', 'ISO2': 'ML', 'Slug': 'mali'},
 {'Country': 'Myanmar', 'ISO2': 'MM', 'Slug': 'myanmar'},
 {'Country': 'Uruguay', 'ISO2': 'UY', 'Slug': 'uruguay'},
 {'Country': 'Grenada', 'ISO2': 'GD', 'Slug': 'grenada'},
 {'Country': 'Nepal', 'ISO2': 'NP', 'Slug': 'nepal'},
 {'Country': 'Brunei Darussalam', 'ISO2': 'BN', 'Slug': 'brunei'},
 {'Country': 'Saint Helena', 'ISO2': 'SH', 'Slug': 'saint-helena'},
 {'Country': 'Taiwan, Republic of China', 'ISO2': 'TW', 'Slug': 'taiwan'},
 {'Country': 'Cape Verde', 'ISO2': 'CV', 'Slug': 'cape-verde'},
 {'Country': 'Finland', 'ISO2': 'FI', 'Slug': 'finland'},
 {'Country': 'Bangladesh', 'ISO2': 'BD', 'Slug': 'bangladesh'},
 {'Country': 'Dominican Republic', 'ISO2': 'DO', 'Slug': 'dominican-republic'},
 {'Country': 'Pitcairn', 'ISO2': 'PN', 'Slug': 'pitcairn'},
 {'Country': 'Slovenia', 'ISO2': 'SI', 'Slug': 'slovenia'},
 {'Country': 'Qatar', 'ISO2': 'QA', 'Slug': 'qatar'},
 {'Country': 'Réunion', 'ISO2': 'RE', 'Slug': 'réunion'},
 {'Country': 'Congo (Brazzaville)', 'ISO2': 'CG', 'Slug': 'congo-brazzaville'},
 {'Country': 'Cook Islands', 'ISO2': 'CK', 'Slug': 'cook-islands'},
 {'Country': 'Netherlands Antilles',
  'ISO2': 'AN',
  'Slug': 'netherlands-antilles'},
 {'Country': 'Saint Pierre and Miquelon',
  'ISO2': 'PM',
  'Slug': 'saint-pierre-and-miquelon'}]

In [21]:
country_covid_df = pd.DataFrame(country_covid_data)
country_covid_df

                         Country                       Slug ISO2
0                 Cayman Islands             cayman-islands   KY
1                          Aruba                      aruba   AW
2    Falkland Islands (Malvinas)  falkland-islands-malvinas   FK
3                           Peru                       peru   PE
4                    Puerto Rico                puerto-rico   PR
..                           ...                        ...  ...
243                      Réunion                    réunion   RE
244          Congo (Brazzaville)          congo-brazzaville   CG
245                 Cook Islands               cook-islands   CK
246         Netherlands Antilles       netherlands-antilles   AN
247    Saint Pierre and Miquelon  saint-pierre-and-miquelon   PM

[248 rows x 3 columns]

In [22]:
# Merge countries available on the air quality data and the covid data
country_covid_air_df = pd.merge(
    country_airdata_df, country_covid_df, how="left", left_on="country_code", right_on="ISO2")
country_covid_air_df

   country_code                    Country            Slug ISO2
0            IR  Iran, Islamic Republic of            iran   IR
1            TJ                 Tajikistan      tajikistan   TJ
2            BR                     Brazil          brazil   BR
3            CN                      China           china   CN
4            DK                    Denmark         denmark   DK
..          ...                        ...             ...  ...
90           CW                        NaN             NaN  NaN
91           GB             United Kingdom  united-kingdom   GB
92           NP                      Nepal           nepal   NP
93           PT                   Portugal        portugal   PT
94           US   United States of America   united-states   US

[95 rows x 4 columns]

In [23]:
# Find the country in the country_airdata_df but not country_covid_df
country_to_remove = country_covid_air_df[country_covid_air_df["ISO2"].isna()]["country_code"].tolist()
country_to_remove

['CW']

In [24]:
final_airdf = clean_airdf[~clean_airdf["Country"].isin(country_to_remove)].copy()

In [25]:
final_airdf["Country"].nunique()

94

In [26]:
final_airdf.to_csv("air_data.csv", index=False)

In [27]:
country_covid_air_df

   country_code                    Country            Slug ISO2
0            IR  Iran, Islamic Republic of            iran   IR
1            TJ                 Tajikistan      tajikistan   TJ
2            BR                     Brazil          brazil   BR
3            CN                      China           china   CN
4            DK                    Denmark         denmark   DK
..          ...                        ...             ...  ...
90           CW                        NaN             NaN  NaN
91           GB             United Kingdom  united-kingdom   GB
92           NP                      Nepal           nepal   NP
93           PT                   Portugal        portugal   PT
94           US   United States of America   united-states   US

[95 rows x 4 columns]

In [28]:
del country_covid_air_df["ISO2"]

In [29]:
# Return a dataframe covering all countries in both the air quality data and covid-19 data.
country_covid_air_df = country_covid_air_df[~country_covid_air_df["country_code"].isin(
    country_to_remove)].reset_index()
country_covid_air_df

    index country_code                    Country            Slug
0       0           IR  Iran, Islamic Republic of            iran
1       1           TJ                 Tajikistan      tajikistan
2       2           BR                     Brazil          brazil
3       3           CN                      China           china
4       4           DK                    Denmark         denmark
..    ...          ...                        ...             ...
89     89           KG                 Kyrgyzstan      kyrgyzstan
90     91           GB             United Kingdom  united-kingdom
91     92           NP                      Nepal           nepal
92     93           PT                   Portugal        portugal
93     94           US   United States of America   united-states

[94 rows x 4 columns]

In [31]:
# Explore one covid API - By Country Total All Status
covid_url_example = "https://api.covid19api.com/total/country/australia"
covid_data_example = requests.get(covid_url_example).json()
pprint(covid_data_example)

[{'Active': 0,
  'City': '',
  'CityCode': '',
  'Confirmed': 0,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-01-22T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 0},
 {'Active': 0,
  'City': '',
  'CityCode': '',
  'Confirmed': 0,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-01-23T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 0},
 {'Active': 0,
  'City': '',
  'CityCode': '',
  'Confirmed': 0,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-01-24T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 0},
 {'Active': 0,
  'City': '',
  'CityCode': '',
  'Confirmed': 0,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-01-25T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 0},
 {'Active': 4,
  'City': '',
  'CityCode': '',
  'Confirmed': 4,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-01-26T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 0},
 {'Active': 5,
  'City': '',
  'CityCode': '',
  'Confirmed': 5,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-01-27T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 0},
 {'Active': 5,
  'City': '',
  'CityCode': '',
  'Confirmed': 5,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-01-28T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 0},
 {'Active': 6,
  'City': '',
  'CityCode': '',
  'Confirmed': 6,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-01-29T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 0},
 {'Active': 7,
  'City': '',
  'CityCode': '',
  'Confirmed': 9,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-01-30T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2},
 {'Active': 7,
  'City': '',
  'CityCode': '',
  'Confirmed': 9,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-01-31T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2},
 {'Active': 10,
  'City': '',
  'CityCode': '',
  'Confirmed': 12,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-01T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2},
 {'Active': 10,
  'City': '',
  'CityCode': '',
  'Confirmed': 12,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-02T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2},
 {'Active': 10,
  'City': '',
  'CityCode': '',
  'Confirmed': 12,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-03T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2},
 {'Active': 11,
  'City': '',
  'CityCode': '',
  'Confirmed': 13,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-04T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2},
 {'Active': 11,
  'City': '',
  'CityCode': '',
  'Confirmed': 13,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-05T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2},
 {'Active': 12,
  'City': '',
  'CityCode': '',
  'Confirmed': 14,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-06T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2},
 {'Active': 13,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-07T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2},
 {'Active': 13,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-08T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2},
 {'Active': 13,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-09T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2},
 {'Active': 13,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-10T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2},
 {'Active': 13,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-11T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2},
 {'Active': 13,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-12T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2},
 {'Active': 7,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-13T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 8},
 {'Active': 7,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-14T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 8},
 {'Active': 7,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-15T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 8},
 {'Active': 7,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-16T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 8},
 {'Active': 5,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-17T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 10},
 {'Active': 5,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-18T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 10},
 {'Active': 5,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-19T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 10},
 {'Active': 5,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-20T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 10},
 {'Active': 4,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-21T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 11},
 {'Active': 4,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-22T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 11},
 {'Active': 4,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-23T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 11},
 {'Active': 4,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-24T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 11},
 {'Active': 4,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-25T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 11},
 {'Active': 4,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-26T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 11},
 {'Active': 4,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-27T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 11},
 {'Active': 4,
  'City': '',
  'CityCode': '',
  'Confirmed': 15,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-28T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 11},
 {'Active': 14,
  'City': '',
  'CityCode': '',
  'Confirmed': 25,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-02-29T00:00:00Z',
  'Deaths': 0,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 11},
 {'Active': 15,
  'City': '',
  'CityCode': '',
  'Confirmed': 27,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-01T00:00:00Z',
  'Deaths': 1,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 11},
 {'Active': 18,
  'City': '',
  'CityCode': '',
  'Confirmed': 30,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-02T00:00:00Z',
  'Deaths': 1,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 11},
 {'Active': 27,
  'City': '',
  'CityCode': '',
  'Confirmed': 39,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-03T00:00:00Z',
  'Deaths': 1,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 11},
 {'Active': 39,
  'City': '',
  'CityCode': '',
  'Confirmed': 52,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-04T00:00:00Z',
  'Deaths': 2,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 11},
 {'Active': 32,
  'City': '',
  'CityCode': '',
  'Confirmed': 55,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-05T00:00:00Z',
  'Deaths': 2,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 21},
 {'Active': 37,
  'City': '',
  'CityCode': '',
  'Confirmed': 60,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-06T00:00:00Z',
  'Deaths': 2,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 21},
 {'Active': 40,
  'City': '',
  'CityCode': '',
  'Confirmed': 63,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-07T00:00:00Z',
  'Deaths': 2,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 21},
 {'Active': 52,
  'City': '',
  'CityCode': '',
  'Confirmed': 76,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-08T00:00:00Z',
  'Deaths': 3,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 21},
 {'Active': 67,
  'City': '',
  'CityCode': '',
  'Confirmed': 91,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-09T00:00:00Z',
  'Deaths': 3,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 21},
 {'Active': 83,
  'City': '',
  'CityCode': '',
  'Confirmed': 107,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-10T00:00:00Z',
  'Deaths': 3,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 21},
 {'Active': 104,
  'City': '',
  'CityCode': '',
  'Confirmed': 128,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-11T00:00:00Z',
  'Deaths': 3,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 21},
 {'Active': 104,
  'City': '',
  'CityCode': '',
  'Confirmed': 128,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-12T00:00:00Z',
  'Deaths': 3,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 21},
 {'Active': 174,
  'City': '',
  'CityCode': '',
  'Confirmed': 200,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-13T00:00:00Z',
  'Deaths': 3,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 23},
 {'Active': 224,
  'City': '',
  'CityCode': '',
  'Confirmed': 250,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-14T00:00:00Z',
  'Deaths': 3,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 23},
 {'Active': 271,
  'City': '',
  'CityCode': '',
  'Confirmed': 297,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-15T00:00:00Z',
  'Deaths': 3,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 23},
 {'Active': 351,
  'City': '',
  'CityCode': '',
  'Confirmed': 377,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-16T00:00:00Z',
  'Deaths': 3,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 23},
 {'Active': 424,
  'City': '',
  'CityCode': '',
  'Confirmed': 452,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-17T00:00:00Z',
  'Deaths': 5,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 23},
 {'Active': 539,
  'City': '',
  'CityCode': '',
  'Confirmed': 568,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-18T00:00:00Z',
  'Deaths': 6,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 23},
 {'Active': 649,
  'City': '',
  'CityCode': '',
  'Confirmed': 681,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-19T00:00:00Z',
  'Deaths': 6,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 26},
 {'Active': 758,
  'City': '',
  'CityCode': '',
  'Confirmed': 791,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-20T00:00:00Z',
  'Deaths': 7,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 26},
 {'Active': 1038,
  'City': '',
  'CityCode': '',
  'Confirmed': 1071,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-21T00:00:00Z',
  'Deaths': 7,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 26},
 {'Active': 1454,
  'City': '',
  'CityCode': '',
  'Confirmed': 1549,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-22T00:00:00Z',
  'Deaths': 7,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 88},
 {'Active': 1587,
  'City': '',
  'CityCode': '',
  'Confirmed': 1682,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-23T00:00:00Z',
  'Deaths': 7,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 88},
 {'Active': 1921,
  'City': '',
  'CityCode': '',
  'Confirmed': 2044,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-24T00:00:00Z',
  'Deaths': 8,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 115},
 {'Active': 2237,
  'City': '',
  'CityCode': '',
  'Confirmed': 2364,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-25T00:00:00Z',
  'Deaths': 8,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 119},
 {'Active': 2625,
  'City': '',
  'CityCode': '',
  'Confirmed': 2810,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-26T00:00:00Z',
  'Deaths': 13,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 172},
 {'Active': 2936,
  'City': '',
  'CityCode': '',
  'Confirmed': 3143,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-27T00:00:00Z',
  'Deaths': 13,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 194},
 {'Active': 3382,
  'City': '',
  'CityCode': '',
  'Confirmed': 3640,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-28T00:00:00Z',
  'Deaths': 14,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 244},
 {'Active': 3724,
  'City': '',
  'CityCode': '',
  'Confirmed': 3984,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-29T00:00:00Z',
  'Deaths': 16,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 244},
 {'Active': 4087,
  'City': '',
  'CityCode': '',
  'Confirmed': 4361,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-30T00:00:00Z',
  'Deaths': 17,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 257},
 {'Active': 4183,
  'City': '',
  'CityCode': '',
  'Confirmed': 4559,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-03-31T00:00:00Z',
  'Deaths': 18,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 358},
 {'Active': 4420,
  'City': '',
  'CityCode': '',
  'Confirmed': 4862,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-01T00:00:00Z',
  'Deaths': 20,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 422},
 {'Active': 4572,
  'City': '',
  'CityCode': '',
  'Confirmed': 5116,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-02T00:00:00Z',
  'Deaths': 24,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 520},
 {'Active': 4653,
  'City': '',
  'CityCode': '',
  'Confirmed': 5330,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-03T00:00:00Z',
  'Deaths': 28,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 649},
 {'Active': 4819,
  'City': '',
  'CityCode': '',
  'Confirmed': 5550,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-04T00:00:00Z',
  'Deaths': 30,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 701},
 {'Active': 4895,
  'City': '',
  'CityCode': '',
  'Confirmed': 5687,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-05T00:00:00Z',
  'Deaths': 35,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 757},
 {'Active': 4677,
  'City': '',
  'CityCode': '',
  'Confirmed': 5797,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-06T00:00:00Z',
  'Deaths': 40,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 1080},
 {'Active': 4770,
  'City': '',
  'CityCode': '',
  'Confirmed': 5895,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-07T00:00:00Z',
  'Deaths': 45,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 1080},
 {'Active': 4880,
  'City': '',
  'CityCode': '',
  'Confirmed': 6010,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-08T00:00:00Z',
  'Deaths': 50,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 1080},
 {'Active': 4585,
  'City': '',
  'CityCode': '',
  'Confirmed': 6108,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-09T00:00:00Z',
  'Deaths': 51,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 1472},
 {'Active': 4368,
  'City': '',
  'CityCode': '',
  'Confirmed': 6215,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-10T00:00:00Z',
  'Deaths': 54,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 1793},
 {'Active': 4440,
  'City': '',
  'CityCode': '',
  'Confirmed': 6303,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-11T00:00:00Z',
  'Deaths': 57,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 1806},
 {'Active': 4449,
  'City': '',
  'CityCode': '',
  'Confirmed': 6315,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-12T00:00:00Z',
  'Deaths': 60,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 1806},
 {'Active': 4484,
  'City': '',
  'CityCode': '',
  'Confirmed': 6351,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-13T00:00:00Z',
  'Deaths': 61,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 1806},
 {'Active': 4167,
  'City': '',
  'CityCode': '',
  'Confirmed': 6415,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-14T00:00:00Z',
  'Deaths': 62,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2186},
 {'Active': 4191,
  'City': '',
  'CityCode': '',
  'Confirmed': 6440,
  'Country': 'Australia',

  'CountryCode': '',
  'Date': '2020-04-15T00:00:00Z',
  'Deaths': 63,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2186},
 {'Active': 4044,
  'City': '',
  'CityCode': '',
  'Confirmed': 6462,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-16T00:00:00Z',
  'Deaths': 63,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 2355},
 {'Active': 2648,
  'City': '',
  'CityCode': '',
  'Confirmed': 6522,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-17T00:00:00Z',
  'Deaths': 66,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 3808},
 {'Active': 2377,
  'City': '',
  'CityCode': '',
  'Confirmed': 6568,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-18T00:00:00Z',
  'Deaths': 67,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 4124},
 {'Active': 2419,
  'City': '',
  'CityCode': '',
  'Confirmed': 6610,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-19T00:00:00Z',
  'Deaths': 67,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 4124},
 {'Active': 2265,
  'City': '',
  'CityCode': '',
  'Confirmed': 6623,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-20T00:00:00Z',
  'Deaths': 67,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 4291},
 {'Active': 1883,
  'City': '',
  'CityCode': '',
  'Confirmed': 6645,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-21T00:00:00Z',
  'Deaths': 67,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 4695},
 {'Active': 1653,
  'City': '',
  'CityCode': '',
  'Confirmed': 6652,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-22T00:00:00Z',
  'Deaths': 67,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 4932},
 {'Active': 1540,
  'City': '',
  'CityCode': '',
  'Confirmed': 6662,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-23T00:00:00Z',
  'Deaths': 75,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 5047},
 {'Active': 1462,
  'City': '',
  'CityCode': '',
  'Confirmed': 6677,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-24T00:00:00Z',
  'Deaths': 79,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 5136},
 {'Active': 1238,
  'City': '',
  'CityCode': '',
  'Confirmed': 6694,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-25T00:00:00Z',
  'Deaths': 80,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 5376},
 {'Active': 1090,
  'City': '',
  'CityCode': '',
  'Confirmed': 6714,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-26T00:00:00Z',
  'Deaths': 83,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 5541},
 {'Active': 1050,
  'City': '',
  'CityCode': '',
  'Confirmed': 6721,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-27T00:00:00Z',
  'Deaths': 83,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 5588},
 {'Active': 990,
  'City': '',
  'CityCode': '',
  'Confirmed': 6744,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-28T00:00:00Z',
  'Deaths': 89,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 5665},
 {'Active': 946,
  'City': '',
  'CityCode': '',
  'Confirmed': 6752,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-29T00:00:00Z',
  'Deaths': 91,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 5715},
 {'Active': 931,
  'City': '',
  'CityCode': '',
  'Confirmed': 6766,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-04-30T00:00:00Z',
  'Deaths': 93,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 5742},
 {'Active': 910,
  'City': '',
  'CityCode': '',
  'Confirmed': 6778,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-01T00:00:00Z',
  'Deaths': 93,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 5775},
 {'Active': 891,
  'City': '',
  'CityCode': '',
  'Confirmed': 6799,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-02T00:00:00Z',
  'Deaths': 94,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 5814},
 {'Active': 878,
  'City': '',
  'CityCode': '',
  'Confirmed': 6822,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-03T00:00:00Z',
  'Deaths': 95,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 5849},
 {'Active': 864,
  'City': '',
  'CityCode': '',
  'Confirmed': 6847,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-04T00:00:00Z',
  'Deaths': 96,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 5887},
 {'Active': 803,
  'City': '',
  'CityCode': '',
  'Confirmed': 6875,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-05T00:00:00Z',
  'Deaths': 97,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 5975},
 {'Active': 766,
  'City': '',
  'CityCode': '',
  'Confirmed': 6894,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-06T00:00:00Z',
  'Deaths': 97,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6031},
 {'Active': 738,
  'City': '',
  'CityCode': '',
  'Confirmed': 6913,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-07T00:00:00Z',
  'Deaths': 97,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6078},
 {'Active': 699,
  'City': '',
  'CityCode': '',
  'Confirmed': 6918,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-08T00:00:00Z',
  'Deaths': 97,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6122},
 {'Active': 701,
  'City': '',
  'CityCode': '',
  'Confirmed': 6939,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-09T00:00:00Z',
  'Deaths': 97,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6141},
 {'Active': 684,
  'City': '',
  'CityCode': '',
  'Confirmed': 6948,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-10T00:00:00Z',
  'Deaths': 97,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6167},
 {'Active': 660,
  'City': '',
  'CityCode': '',
  'Confirmed': 6970,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-11T00:00:00Z',
  'Deaths': 97,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6213},
 {'Active': 612,
  'City': '',
  'CityCode': '',
  'Confirmed': 6980,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-12T00:00:00Z',
  'Deaths': 98,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6270},
 {'Active': 594,
  'City': '',
  'CityCode': '',
  'Confirmed': 6989,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-13T00:00:00Z',
  'Deaths': 98,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6297},
 {'Active': 587,
  'City': '',
  'CityCode': '',
  'Confirmed': 7019,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-14T00:00:00Z',
  'Deaths': 98,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6334},
 {'Active': 578,
  'City': '',
  'CityCode': '',
  'Confirmed': 7035,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-15T00:00:00Z',
  'Deaths': 98,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6359},
 {'Active': 582,
  'City': '',
  'CityCode': '',
  'Confirmed': 7044,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-16T00:00:00Z',
  'Deaths': 98,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6364},
 {'Active': 563,
  'City': '',
  'CityCode': '',
  'Confirmed': 7054,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-17T00:00:00Z',
  'Deaths': 99,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6392},
 {'Active': 556,
  'City': '',
  'CityCode': '',
  'Confirmed': 7068,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-18T00:00:00Z',
  'Deaths': 99,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6413},
 {'Active': 541,
  'City': '',
  'CityCode': '',
  'Confirmed': 7072,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-19T00:00:00Z',
  'Deaths': 100,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6431},
 {'Active': 511,
  'City': '',
  'CityCode': '',
  'Confirmed': 7081,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-20T00:00:00Z',
  'Deaths': 100,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6470},
 {'Active': 516,
  'City': '',
  'CityCode': '',
  'Confirmed': 7095,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-21T00:00:00Z',
  'Deaths': 101,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6478},
 {'Active': 513,
  'City': '',
  'CityCode': '',
  'Confirmed': 7099,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-22T00:00:00Z',
  'Deaths': 101,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6485},
 {'Active': 504,
  'City': '',
  'CityCode': '',
  'Confirmed': 7114,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-23T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6508},
 {'Active': 481,
  'City': '',
  'CityCode': '',
  'Confirmed': 7114,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-24T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6531},
 {'Active': 472,
  'City': '',
  'CityCode': '',
  'Confirmed': 7126,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-25T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6552},
 {'Active': 476,
  'City': '',
  'CityCode': '',
  'Confirmed': 7139,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-26T00:00:00Z',
  'Deaths': 103,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6560},
 {'Active': 468,
  'City': '',
  'CityCode': '',
  'Confirmed': 7150,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-27T00:00:00Z',
  'Deaths': 103,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6579},
 {'Active': 486,
  'City': '',
  'CityCode': '',
  'Confirmed': 7165,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-28T00:00:00Z',
  'Deaths': 103,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6576},
 {'Active': 476,
  'City': '',
  'CityCode': '',
  'Confirmed': 7184,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-29T00:00:00Z',
  'Deaths': 103,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6605},
 {'Active': 475,
  'City': '',
  'CityCode': '',
  'Confirmed': 7192,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-30T00:00:00Z',
  'Deaths': 103,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6614},
 {'Active': 481,
  'City': '',
  'CityCode': '',
  'Confirmed': 7202,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-05-31T00:00:00Z',
  'Deaths': 103,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6618},
 {'Active': 493,
  'City': '',
  'CityCode': '',
  'Confirmed': 7221,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-01T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6626},
 {'Active': 491,
  'City': '',
  'CityCode': '',
  'Confirmed': 7229,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-02T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6636},
 {'Active': 490,
  'City': '',
  'CityCode': '',
  'Confirmed': 7240,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-03T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6648},
 {'Active': 462,
  'City': '',
  'CityCode': '',
  'Confirmed': 7247,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-04T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6683},
 {'Active': 462,
  'City': '',
  'CityCode': '',
  'Confirmed': 7252,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-05T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6688},
 {'Active': 454,
  'City': '',
  'CityCode': '',
  'Confirmed': 7259,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-06T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6703},
 {'Active': 457,
  'City': '',
  'CityCode': '',
  'Confirmed': 7265,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-07T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6706},
 {'Active': 445,
  'City': '',
  'CityCode': '',
  'Confirmed': 7267,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-08T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6720},
 {'Active': 432,
  'City': '',
  'CityCode': '',
  'Confirmed': 7274,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-09T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6740},
 {'Active': 424,
  'City': '',
  'CityCode': '',
  'Confirmed': 7285,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-10T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6759},
 {'Active': 405,
  'City': '',
  'CityCode': '',
  'Confirmed': 7289,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-11T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6782},
 {'Active': 389,
  'City': '',
  'CityCode': '',
  'Confirmed': 7294,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-12T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6803},
 {'Active': 380,
  'City': '',
  'CityCode': '',
  'Confirmed': 7320,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-13T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6838},
 {'Active': 382,
  'City': '',
  'CityCode': '',
  'Confirmed': 7335,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-14T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6851},
 {'Active': 389,
  'City': '',
  'CityCode': '',
  'Confirmed': 7347,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-15T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6856},
 {'Active': 407,
  'City': '',
  'CityCode': '',
  'Confirmed': 7370,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-16T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6861},
 {'Active': 412,
  'City': '',
  'CityCode': '',
  'Confirmed': 7391,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-17T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6877},
 {'Active': 429,
  'City': '',
  'CityCode': '',
  'Confirmed': 7409,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-18T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6878},
 {'Active': 428,
  'City': '',
  'CityCode': '',
  'Confirmed': 7411,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-19T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6881},
 {'Active': 463,
  'City': '',
  'CityCode': '',
  'Confirmed': 7461,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-20T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6896},
 {'Active': 469,
  'City': '',
  'CityCode': '',
  'Confirmed': 7474,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-21T00:00:00Z',
  'Deaths': 102,

  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6903},
 {'Active': 475,
  'City': '',
  'CityCode': '',
  'Confirmed': 7492,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-22T00:00:00Z',
  'Deaths': 102,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6915},
 {'Active': 494,
  'City': '',
  'CityCode': '',
  'Confirmed': 7521,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-23T00:00:00Z',
  'Deaths': 103,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6924},
 {'Active': 523,
  'City': '',
  'CityCode': '',
  'Confirmed': 7558,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-24T00:00:00Z',
  'Deaths': 104,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6931},
 {'Active': 533,
  'City': '',
  'CityCode': '',
  'Confirmed': 7595,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-25T00:00:00Z',
  'Deaths': 104,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6958},
 {'Active': 537,
  'City': '',
  'CityCode': '',
  'Confirmed': 7601,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-26T00:00:00Z',
  'Deaths': 104,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6960},
 {'Active': 589,
  'City': '',
  'CityCode': '',
  'Confirmed': 7686,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-27T00:00:00Z',
  'Deaths': 104,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 6993},
 {'Active': 653,
  'City': '',
  'CityCode': '',
  'Confirmed': 7764,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-28T00:00:00Z',
  'Deaths': 104,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 7007},
 {'Active': 693,
  'City': '',
  'CityCode': '',
  'Confirmed': 7834,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-29T00:00:00Z',
  'Deaths': 104,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 7037},
 {'Active': 776,
  'City': '',
  'CityCode': '',
  'Confirmed': 7920,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-06-30T00:00:00Z',
  'Deaths': 104,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 7040},
 {'Active': 807,
  'City': '',
  'CityCode': '',
  'Confirmed': 8001,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-07-01T00:00:00Z',
  'Deaths': 104,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 7090},
 {'Active': 832,
  'City': '',
  'CityCode': '',
  'Confirmed': 8066,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-07-02T00:00:00Z',
  'Deaths': 104,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 7130},
 {'Active': 837,
  'City': '',
  'CityCode': '',
  'Confirmed': 8260,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-07-03T00:00:00Z',
  'Deaths': 104,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 7319},
 {'Active': 940,
  'City': '',
  'CityCode': '',
  'Confirmed': 8443,
  'Country': 'Australia',
  'CountryCode': '',
  'Date': '2020-07-04T00:00:00Z',
  'Deaths': 104,
  'Lat': '0',
  'Lon': '0',
  'Province': '',
  'Recovered': 7399}]

The above api example covers covid-19 data until 4th July 2020. It also shows the number of confirmed, active, recovered, and death cases for each chosen country over the course of the current pandemic. Hence, we'll use this api to loop through our country_covid_air_df as above.

In [32]:
slug_list = country_covid_air_df["Slug"].tolist()
len(slug_list)

94

In [33]:
base_covid_url = "https://api.covid19api.com/total/country/"
    
country_list = list()
date_list = list()
active_list = list()
confirmed_list = list()
recovered_list = list()
deaths_list = list()

print("Beginning Data Retrieval")
print("-----------------------------------")

counter = 0
set_counter = 1

for slug in slug_list:
    
    try:
        response = requests.get(base_covid_url + slug).json()
    
        for element in response:
            country_list.append(element['Country'])
            date_list.append(element['Date'])
            active_list.append(element['Active'])
            confirmed_list.append(element['Confirmed'])
            recovered_list.append(element['Recovered'])
            deaths_list.append(element['Deaths'])

        counter += 1
        print(f"Processing Record {counter} of Set {set_counter} | {slug}")

        if counter == 50:
            set_counter += 1
            counter = 0

    except KeyError:
        print("Country not found. Skipping...")

print("-----------------------------------")
print("Data Retrieval Complete")
print("-----------------------------------")

Beginning Data Retrieval
-----------------------------------
Processing Record 1 of Set 1 | iran
Processing Record 2 of Set 1 | tajikistan
Processing Record 3 of Set 1 | brazil
Processing Record 4 of Set 1 | china
Processing Record 5 of Set 1 | denmark
Processing Record 6 of Set 1 | spain
Processing Record 7 of Set 1 | mali
Processing Record 8 of Set 1 | slovakia
Processing Record 9 of Set 1 | kosovo
Processing Record 10 of Set 1 | chile
Processing Record 11 of Set 1 | germany
Processing Record 12 of Set 1 | kuwait
Processing Record 13 of Set 1 | myanmar
Processing Record 14 of Set 1 | philippines
Processing Record 15 of Set 1 | pakistan
Processing Record 16 of Set 1 | poland
Processing Record 17 of Set 1 | russia
Processing Record 18 of Set 1 | sweden
Processing Record 19 of Set 1 | singapore
Processing Record 20 of Set 1 | united-arab-emirates
Processing Record 21 of Set 1 | bosnia-and-herzegovina
Processing Record 22 of Set 1 | czech-republic
Processing Record 23 of Set 1 | indonesia
Processing Record 24 of Set 1 | iceland
Processing Record 25 of Set 1 | macao-sar-china
Processing Record 26 of Set 1 | romania
Processing Record 27 of Set 1 | argentina
Processing Record 28 of Set 1 | australia
Processing Record 29 of Set 1 | ecuador
Processing Record 30 of Set 1 | ghana
Processing Record 31 of Set 1 | hong-kong-sar-china
Processing Record 32 of Set 1 | peru
Processing Record 33 of Set 1 | ukraine
Processing Record 34 of Set 1 | estonia
Processing Record 35 of Set 1 | france
Processing Record 36 of Set 1 | japan
Processing Record 37 of Set 1 | mongolia
Processing Record 38 of Set 1 | finland
Processing Record 39 of Set 1 | ireland
Processing Record 40 of Set 1 | israel
Processing Record 41 of Set 1 | kazakhstan
Processing Record 42 of Set 1 | lao-pdr
Processing Record 43 of Set 1 | uzbekistan
Processing Record 44 of Set 1 | bangladesh
Processing Record 45 of Set 1 | belgium
Processing Record 46 of Set 1 | greece
Processing Record 47 of Set 1 | korea-south
Processing Record 48 of Set 1 | sri-lanka
Processing Record 49 of Set 1 | macedonia
Processing Record 50 of Set 1 | mexico
Processing Record 1 of Set 2 | turkey
Processing Record 2 of Set 2 | afghanistan
Processing Record 3 of Set 2 | austria
Processing Record 4 of Set 2 | guatemala
Processing Record 5 of Set 2 | bolivia
Processing Record 6 of Set 2 | costa-rica
Processing Record 7 of Set 2 | jordan
Processing Record 8 of Set 2 | puerto-rico
Processing Record 9 of Set 2 | saudi-arabia
Processing Record 10 of Set 2 | el-salvador
Processing Record 11 of Set 2 | canada
Processing Record 12 of Set 2 | italy
Processing Record 13 of Set 2 | norway
Processing Record 14 of Set 2 | réunion
Processing Record 15 of Set 2 | turkmenistan
Processing Record 16 of Set 2 | south-africa
Processing Record 17 of Set 2 | bahrain
Processing Record 18 of Set 2 | lithuania
Processing Record 19 of Set 2 | thailand
Processing Record 20 of Set 2 | bulgaria
Processing Record 21 of Set 2 | switzerland
Processing Record 22 of Set 2 | hungary
Processing Record 23 of Set 2 | malaysia
Processing Record 24 of Set 2 | netherlands
Processing Record 25 of Set 2 | new-zealand
Processing Record 26 of Set 2 | uganda
Processing Record 27 of Set 2 | vietnam
Processing Record 28 of Set 2 | ethiopia
Processing Record 29 of Set 2 | georgia
Processing Record 30 of Set 2 | guinea
Processing Record 31 of Set 2 | iraq
Processing Record 32 of Set 2 | serbia
Processing Record 33 of Set 2 | taiwan
Processing Record 34 of Set 2 | cote-divoire
Processing Record 35 of Set 2 | colombia
Processing Record 36 of Set 2 | cyprus
Processing Record 37 of Set 2 | algeria
Processing Record 38 of Set 2 | croatia
Processing Record 39 of Set 2 | india
Processing Record 40 of Set 2 | kyrgyzstan
Processing Record 41 of Set 2 | united-kingdom
Processing Record 42 of Set 2 | nepal
Processing Record 43 of Set 2 | portugal
Processing Record 44 of Set 2 | united-states
-----------------------------------
Data Retrieval Complete
-----------------------------------

In [34]:
covid_df = pd.DataFrame({
    "Country": country_list,
    "Date": date_list,
    "Active cases": active_list,
    "Confirmed cases": confirmed_list,
    "Recovered cases": recovered_list,
    "Deaths": deaths_list
})
covid_df.head()

,Country,Date,Active cases,Confirmed cases,Recovered cases,Deaths
0,"Iran, Islamic Republic of",2020-01-22T00:00:00Z,0,0,0,0
1,"Iran, Islamic Republic of",2020-01-23T00:00:00Z,0,0,0,0
2,"Iran, Islamic Republic of",2020-01-24T00:00:00Z,0,0,0,0
3,"Iran, Islamic Republic of",2020-01-25T00:00:00Z,0,0,0,0
4,"Iran, Islamic Republic of",2020-01-26T00:00:00Z,0,0,0,0

In [35]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14685 entries, 0 to 14684
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          14685 non-null  object
 1   Date             14685 non-null  object
 2   Active cases     14685 non-null  int64
 3   Confirmed cases  14685 non-null  int64
 4   Recovered cases  14685 non-null  int64
 5   Deaths           14685 non-null  int64
dtypes: int64(4), object(2)
memory usage: 688.5+ KB

In [36]:
# Convert the Date column to datetime format
covid_df['Date'] = covid_df['Date'].astype('datetime64[ns]')

In [39]:
# Find the earliest date the covid dataset covers:
covid_df["Date"].min()

Timestamp('2020-01-22 00:00:00')

In [40]:
# Find the latrest date the covid dataset covers:
covid_df["Date"].max()

Timestamp('2020-07-04 00:00:00')

In [37]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14685 entries, 0 to 14684
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          14685 non-null  object
 1   Date             14685 non-null  datetime64[ns]
 2   Active cases     14685 non-null  int64
 3   Confirmed cases  14685 non-null  int64
 4   Recovered cases  14685 non-null  int64
 5   Deaths           14685 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 688.5+ KB

In [38]:
covid_df.to_csv("covid_data.csv", index=False)

In [ ]:
# import time
# from scipy.stats import linregress

# Incorporated citipy to determine city based on latitude and longitude
# from citipy import citipy

In [ ]:
# url = "https://api.openaq.org/v1/measurements"

# data = requests.get(url).json()
# pprint(data)

In [ ]:
# len(data["results"])

In [ ]:
# data["results"][0]

In [ ]:
# Data source: https://aqicn.org/api/
# base_url = "https://api.waqi.info/feed/"
# city = "melbourne"
# url = f"{base_url}{city}/?token={api_key}"

In [ ]:
# url_2 = "https://api.covid19api.com/country/south-africa/status/confirmed/live"
# covid_data_2 = requests.get(url_2).json()
# pprint(covid_data_2[-1])